main {
  flex: 1;
}

/* Navigation */
.nav-item {
  color: #0745ff;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff930 !important;
}

.current-nav-item {
  background-color: #0745ff;
  color: #07ffc1;
}

.current-nav-item:hover,
.current-nav-item:focus {
}

/* HomeJumbotron */
#home-jumbotron {
  background-color: #0745ff !important;
}

#home-jumbotron h1 {
  color: #07ffc1 !important;
}

.welcome-text {
  color: #0745ff !important;
}

.gallery-button {
  background-color: #0745ff !important;
  color: #07ffc1 !important;
}

.contact-me-button {
  border-color: #0745ff !important;
  color: #0745ff !important;
}

.jumbotron-link {
  background-color: #0745ff !important;
  color: #07ffc1 !important;
}

/* GalleryProjectCard */
.gallery-project-card {
  cursor: pointer;
}

.gallery-project-card-image {
  height: 300px !important;
  background-size: cover;
  background-position: top;
}

/* GalleryProjectModal */
.gallery-project-modal-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.gallery-project-modal-close {
  color: #0745ff;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.gallery-project-modal-link {
  color: #0745ff;
}

.gallery-project-modal-link:hover {
  color: #07ffc1;
}

/* Contact */
.contact-submit-button {
  background-color: #fff930 !important;
  color: #0745ff !important;
}

/* Footer */
.social-media-icon {
  color: #0745ff;
}

.social-media-icon:hover {
  color: #c107ff;
}

.footer-border {
  border-top: 1px solid #0745ff !important;
}

h1 {
  color: #0745ff !important;
}
